body {
    background-color: #ebcdac;
    color :#e76d00;
    font-family: Arial, sans-serif;
}

h1 {
    color: #e76d00;
    font-size: 2.5em;
}

.stMain {
    background-color: #ebcdac;
    color: #55381f;
}


.stAppHeader {
    background-color: #ebcdac;

}

.stMarkdown h1 {
    color: #e76d00;
    font-size: 2.5em;
}

.stMarkdown {
    color: #55381f; /* Gris foncé */
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.stTitle {
    color: #e76d00;
}

h1:hover {
        color: #55381f;
    }

.stSidebar {
    background-color: #a1815b;
    color: #55381f;
}

.stHeading {
    background-color: #ebcdac;
    color: #55381f !important; 
}

